{
  // https://eslint.org/docs/user-guide/configuring#specifying-environments
  "env": {
    "browser": true,
    "node": true
  },
  // https://github.com/babel/babel-eslint
  "parser": "babel-eslint",
  "rules": {
    // https://eslint.org/docs/2.0.0/rules/strict
    "strict": ["error", "never"],
    "no-unused-vars": "off",
    "react/self-closing-comp": 2,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "babel/quotes": 0,
    "babel/camelcase": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "no-console": "off",
    "one-var": 0
  },
  "plugins": ["react-hooks"],
  "extends": [
    "eslint:recommended",
    "eslint-config-prettier",
    "plugin:react/recommended",
    "plugin:import/recommended",
    "kentcdodds"
  ]
}
